@charset "utf-8";


.asg_tm_settings .colors li a.blue{background-color: #4169e1;}
.asg_tm_settings .colors li a.green{background-color: #66B95C;}
.asg_tm_settings .colors li a.brown{background-color: #ff9800;}
.asg_tm_settings .colors li a.pink{background-color: #ff5e94;}
.asg_tm_settings .colors li a.orange{background-color: #fa5b0f;}
.asg_tm_settings .colors li a.black{background-color: #333;}
.asg_tm_settings .colors li a.white{background-color: #e5e5e5;}
.asg_tm_settings .colors li a.purple{background-color: #9200ee;}
.asg_tm_settings .colors li a.sky{background-color: #00D4BD;}
.asg_tm_settings .colors li a.cadetBlue{background-color: #5e9e9f;}
.asg_tm_settings .colors li a.crimson{background-color: #0ca4e4;}
.asg_tm_settings .colors li a.olive{background-color: #666d41;}
.asg_tm_settings .colors li a.red{background-color: #fe0000;}


.asg_tm_all_wrap[data-color="blue"] .asg_tm_topbar .menu ul li.current a{color: #4169e1;}
.asg_tm_all_wrap[data-color="blue"] .asg_tm_topbar .menu ul li a:hover{color: #4169e1;}
.asg_tm_all_wrap[data-color="blue"] .asg_tm_title_holder span{color: #4169e1;}
.asg_tm_all_wrap[data-color="blue"] .asg_tm_button a{background-color: #4169e1;border-color:#4169e1;}
.asg_tm_all_wrap[data-color="blue"] .asg_tm_button button{background-color: #4169e1;border-color:#4169e1;}
.asg_tm_all_wrap[data-color="blue"] .asg_tm_news .news_list ul li .details .title a:hover{color: #4169e1;}
.asg_tm_all_wrap[data-color="blue"] .asg_tm_news .news_list ul li .details .date a:hover{color: #4169e1;}
.asg_tm_all_wrap[data-color="blue"] .cursor-inner.cursor-hover{background-color: #4169e1;}
.asg_tm_all_wrap[data-color="blue"] .cursor-outer{border-color: #4169e1;}
.asg_tm_all_wrap[data-color="blue"] .cursor-inner{background-color: #4169e1;}
.asg_tm_all_wrap[data-color="blue"] .progress_inner .background .bar_in{background: #4169e1;}


.asg_tm_all_wrap[data-color="green"] .asg_tm_topbar .menu ul li.current a{color: #66B95C;}
.asg_tm_all_wrap[data-color="green"] .asg_tm_topbar .menu ul li a:hover{color: #66B95C;}
.asg_tm_all_wrap[data-color="green"] .asg_tm_title_holder span{color: #66B95C;}
.asg_tm_all_wrap[data-color="green"] .asg_tm_button a{background-color: #66B95C;border-color:#66B95C;}
.asg_tm_all_wrap[data-color="green"] .asg_tm_button button{background-color: #66B95C;border-color:#66B95C;}
.asg_tm_all_wrap[data-color="green"] .asg_tm_news .news_list ul li .details .title a:hover{color: #66B95C;}
.asg_tm_all_wrap[data-color="green"] .asg_tm_news .news_list ul li .details .date a:hover{color: #66B95C;}
.asg_tm_all_wrap[data-color="green"] .cursor-inner.cursor-hover{background-color: #66B95C;}
.asg_tm_all_wrap[data-color="green"] .cursor-outer{border-color: #66B95C;}
.asg_tm_all_wrap[data-color="green"] .cursor-inner{background-color: #66B95C;}
.asg_tm_all_wrap[data-color="green"] .progress_inner .background .bar_in{background: #66B95C;}


.asg_tm_all_wrap[data-color="brown"] .asg_tm_topbar .menu ul li.current a{color: #ff9800;}
.asg_tm_all_wrap[data-color="brown"] .asg_tm_topbar .menu ul li a:hover{color: #ff9800;}
.asg_tm_all_wrap[data-color="brown"] .asg_tm_title_holder span{color: #ff9800;}
.asg_tm_all_wrap[data-color="brown"] .asg_tm_button a{background-color: #ff9800;border-color:#ff9800;}
.asg_tm_all_wrap[data-color="brown"] .asg_tm_button button{background-color: #ff9800;border-color:#ff9800;}
.asg_tm_all_wrap[data-color="brown"] .asg_tm_news .news_list ul li .details .title a:hover{color: #ff9800;}
.asg_tm_all_wrap[data-color="brown"] .asg_tm_news .news_list ul li .details .date a:hover{color: #ff9800;}
.asg_tm_all_wrap[data-color="brown"] .cursor-inner.cursor-hover{background-color: #ff9800;}
.asg_tm_all_wrap[data-color="brown"] .cursor-outer{border-color: #ff9800;}
.asg_tm_all_wrap[data-color="brown"] .cursor-inner{background-color: #ff9800;}
.asg_tm_all_wrap[data-color="brown"] .progress_inner .background .bar_in{background: #ff9800;}


.asg_tm_all_wrap[data-color="pink"] .asg_tm_topbar .menu ul li.current a{color: #ff5e94;}
.asg_tm_all_wrap[data-color="pink"] .asg_tm_topbar .menu ul li a:hover{color: #ff5e94;}
.asg_tm_all_wrap[data-color="pink"] .asg_tm_title_holder span{color: #ff5e94;}
.asg_tm_all_wrap[data-color="pink"] .asg_tm_button a{background-color: #ff5e94;border-color:#ff5e94;}
.asg_tm_all_wrap[data-color="pink"] .asg_tm_button button{background-color: #ff5e94;border-color:#ff5e94;}
.asg_tm_all_wrap[data-color="pink"] .asg_tm_news .news_list ul li .details .title a:hover{color: #ff5e94;}
.asg_tm_all_wrap[data-color="pink"] .asg_tm_news .news_list ul li .details .date a:hover{color: #ff5e94;}
.asg_tm_all_wrap[data-color="pink"] .cursor-inner.cursor-hover{background-color: #ff5e94;}
.asg_tm_all_wrap[data-color="pink"] .cursor-outer{border-color: #ff5e94;}
.asg_tm_all_wrap[data-color="pink"] .cursor-inner{background-color: #ff5e94;}
.asg_tm_all_wrap[data-color="pink"] .progress_inner .background .bar_in{background: #ff5e94;}


.asg_tm_all_wrap[data-color="orange"] .asg_tm_topbar .menu ul li.current a{color: #fa5b0f;}
.asg_tm_all_wrap[data-color="orange"] .asg_tm_topbar .menu ul li a:hover{color: #fa5b0f;}
.asg_tm_all_wrap[data-color="orange"] .asg_tm_title_holder span{color: #fa5b0f;}
.asg_tm_all_wrap[data-color="orange"] .asg_tm_button a{background-color: #fa5b0f;border-color:#fa5b0f;}
.asg_tm_all_wrap[data-color="orange"] .asg_tm_button button{background-color: #fa5b0f;border-color:#fa5b0f;}
.asg_tm_all_wrap[data-color="orange"] .asg_tm_news .news_list ul li .details .title a:hover{color: #fa5b0f;}
.asg_tm_all_wrap[data-color="orange"] .asg_tm_news .news_list ul li .details .date a:hover{color: #fa5b0f;}
.asg_tm_all_wrap[data-color="orange"] .cursor-inner.cursor-hover{background-color: #fa5b0f;}
.asg_tm_all_wrap[data-color="orange"] .cursor-outer{border-color: #fa5b0f;}
.asg_tm_all_wrap[data-color="orange"] .cursor-inner{background-color: #fa5b0f;}
.asg_tm_all_wrap[data-color="orange"] .progress_inner .background .bar_in{background: #fa5b0f;}


.asg_tm_all_wrap[data-color="black"] .asg_tm_topbar .menu ul li.current a{color: #000;}
.asg_tm_all_wrap[data-color="black"] .asg_tm_topbar .menu ul li a:hover{color: #000;}
.asg_tm_all_wrap[data-color="black"] .asg_tm_title_holder span{color: #000;}
.asg_tm_all_wrap[data-color="black"] .asg_tm_button a{background-color: #000;border-color:#000;}
.asg_tm_all_wrap[data-color="black"] .asg_tm_button button{background-color: #000;border-color:#000;}
.asg_tm_all_wrap[data-color="black"] .asg_tm_news .news_list ul li .details .title a:hover{color: #000;}
.asg_tm_all_wrap[data-color="black"] .asg_tm_news .news_list ul li .details .date a:hover{color: #000;}
.asg_tm_all_wrap[data-color="black"] .cursor-inner.cursor-hover{background-color: #000;}
.asg_tm_all_wrap[data-color="black"] .cursor-outer{border-color: #000;}
.asg_tm_all_wrap[data-color="black"] .cursor-inner{background-color: #000;}
.asg_tm_all_wrap[data-color="black"] .progress_inner .background .bar_in{background: #000;}


.asg_tm_all_wrap[data-color="white"] .asg_tm_topbar .menu ul li.current a{color: #fff;}
.asg_tm_all_wrap[data-color="white"] .asg_tm_topbar .menu ul li a:hover{color: #fff;}
.asg_tm_all_wrap[data-color="white"] .asg_tm_title_holder span{color: #fff;}
.asg_tm_all_wrap[data-color="white"] .asg_tm_button a{background-color: #fff;border-color:#fff;color: #000;}
.asg_tm_all_wrap[data-color="white"] .asg_tm_button button{background-color: #fff;border-color:#fff;color: #000;}
.asg_tm_all_wrap[data-color="white"] .asg_tm_news .news_list ul li .details .title a:hover{color: #fff;}
.asg_tm_all_wrap[data-color="white"] .asg_tm_news .news_list ul li .details .date a:hover{color: #fff;}
.asg_tm_all_wrap[data-color="white"] .cursor-inner.cursor-hover{background-color: #fff;}
.asg_tm_all_wrap[data-color="white"] .cursor-outer{border-color: #fff;}
.asg_tm_all_wrap[data-color="white"] .cursor-inner{background-color: #fff;}
.asg_tm_all_wrap[data-color="white"] .progress_inner .background .bar_in{background: #fff;}


.asg_tm_all_wrap[data-color="purple"] .asg_tm_topbar .menu ul li.current a{color: #9200ee;}
.asg_tm_all_wrap[data-color="purple"] .asg_tm_topbar .menu ul li a:hover{color: #9200ee;}
.asg_tm_all_wrap[data-color="purple"] .asg_tm_title_holder span{color: #9200ee;}
.asg_tm_all_wrap[data-color="purple"] .asg_tm_button a{background-color: #9200ee;border-color:#9200ee;}
.asg_tm_all_wrap[data-color="purple"] .asg_tm_button button{background-color: #9200ee;border-color:#9200ee;}
.asg_tm_all_wrap[data-color="purple"] .asg_tm_news .news_list ul li .details .title a:hover{color: #9200ee;}
.asg_tm_all_wrap[data-color="purple"] .asg_tm_news .news_list ul li .details .date a:hover{color: #9200ee;}
.asg_tm_all_wrap[data-color="purple"] .cursor-inner.cursor-hover{background-color: #9200ee;}
.asg_tm_all_wrap[data-color="purple"] .cursor-outer{border-color: #9200ee;}
.asg_tm_all_wrap[data-color="purple"] .cursor-inner{background-color: #9200ee;}
.asg_tm_all_wrap[data-color="purple"] .progress_inner .background .bar_in{background: #9200ee;}


.asg_tm_all_wrap[data-color="sky"] .asg_tm_topbar .menu ul li.current a{color: #00D4BD;}
.asg_tm_all_wrap[data-color="sky"] .asg_tm_topbar .menu ul li a:hover{color: #00D4BD;}
.asg_tm_all_wrap[data-color="sky"] .asg_tm_title_holder span{color: #00D4BD;}
.asg_tm_all_wrap[data-color="sky"] .asg_tm_button a{background-color: #00D4BD;border-color:#00D4BD;}
.asg_tm_all_wrap[data-color="sky"] .asg_tm_button button{background-color: #00D4BD;border-color:#00D4BD;}
.asg_tm_all_wrap[data-color="sky"] .asg_tm_news .news_list ul li .details .title a:hover{color: #00D4BD;}
.asg_tm_all_wrap[data-color="sky"] .asg_tm_news .news_list ul li .details .date a:hover{color: #00D4BD;}
.asg_tm_all_wrap[data-color="sky"] .cursor-inner.cursor-hover{background-color: #00D4BD;}
.asg_tm_all_wrap[data-color="sky"] .cursor-outer{border-color: #00D4BD;}
.asg_tm_all_wrap[data-color="sky"] .cursor-inner{background-color: #00D4BD;}
.asg_tm_all_wrap[data-color="sky"] .progress_inner .background .bar_in{background: #00D4BD;}


.asg_tm_all_wrap[data-color="cadetBlue"] .asg_tm_topbar .menu ul li.current a{color: #5e9e9f;}
.asg_tm_all_wrap[data-color="cadetBlue"] .asg_tm_topbar .menu ul li a:hover{color: #5e9e9f;}
.asg_tm_all_wrap[data-color="cadetBlue"] .asg_tm_title_holder span{color: #5e9e9f;}
.asg_tm_all_wrap[data-color="cadetBlue"] .asg_tm_button a{background-color: #5e9e9f;border-color:#5e9e9f;}
.asg_tm_all_wrap[data-color="cadetBlue"] .asg_tm_button button{background-color: #5e9e9f;border-color:#5e9e9f;}
.asg_tm_all_wrap[data-color="cadetBlue"] .asg_tm_news .news_list ul li .details .title a:hover{color: #5e9e9f;}
.asg_tm_all_wrap[data-color="cadetBlue"] .asg_tm_news .news_list ul li .details .date a:hover{color: #5e9e9f;}
.asg_tm_all_wrap[data-color="cadetBlue"] .cursor-inner.cursor-hover{background-color: #5e9e9f;}
.asg_tm_all_wrap[data-color="cadetBlue"] .cursor-outer{border-color: #5e9e9f;}
.asg_tm_all_wrap[data-color="cadetBlue"] .cursor-inner{background-color: #5e9e9f;}
.asg_tm_all_wrap[data-color="cadetBlue"] .progress_inner .background .bar_in{background: #5e9e9f;}


.asg_tm_all_wrap[data-color="olive"] .asg_tm_topbar .menu ul li.current a{color: #666d41;}
.asg_tm_all_wrap[data-color="olive"] .asg_tm_topbar .menu ul li a:hover{color: #666d41;}
.asg_tm_all_wrap[data-color="olive"] .asg_tm_title_holder span{color: #666d41;}
.asg_tm_all_wrap[data-color="olive"] .asg_tm_button a{background-color: #666d41;border-color:#666d41;}
.asg_tm_all_wrap[data-color="olive"] .asg_tm_button button{background-color: #666d41;border-color:#666d41;}
.asg_tm_all_wrap[data-color="olive"] .asg_tm_news .news_list ul li .details .title a:hover{color: #666d41;}
.asg_tm_all_wrap[data-color="olive"] .asg_tm_news .news_list ul li .details .date a:hover{color: #666d41;}
.asg_tm_all_wrap[data-color="olive"] .cursor-inner.cursor-hover{background-color: #666d41;}
.asg_tm_all_wrap[data-color="olive"] .cursor-outer{border-color: #666d41;}
.asg_tm_all_wrap[data-color="olive"] .cursor-inner{background-color: #666d41;}
.asg_tm_all_wrap[data-color="olive"] .progress_inner .background .bar_in{background: #666d41;}


.asg_tm_all_wrap[data-color="crimson"] .asg_tm_topbar .menu ul li.current a{color: #0ca4e4;}
.asg_tm_all_wrap[data-color="crimson"] .asg_tm_topbar .menu ul li a:hover{color: #0ca4e4;}
.asg_tm_all_wrap[data-color="crimson"] .asg_tm_title_holder span{color: #0ca4e4;}
.asg_tm_all_wrap[data-color="crimson"] .asg_tm_button a{background-color: #0ca4e4;border-color:#0ca4e4;}
.asg_tm_all_wrap[data-color="crimson"] .asg_tm_button button{background-color: #0ca4e4;border-color:#0ca4e4;}
.asg_tm_all_wrap[data-color="crimson"] .asg_tm_news .news_list ul li .details .title a:hover{color: #0ca4e4;}
.asg_tm_all_wrap[data-color="crimson"] .asg_tm_news .news_list ul li .details .date a:hover{color: #0ca4e4;}
.asg_tm_all_wrap[data-color="crimson"] .cursor-inner.cursor-hover{background-color: #0ca4e4;}
.asg_tm_all_wrap[data-color="crimson"] .cursor-outer{border-color: #0ca4e4;}
.asg_tm_all_wrap[data-color="crimson"] .cursor-inner{background-color: #0ca4e4;}
.asg_tm_all_wrap[data-color="crimson"] .progress_inner .background .bar_in{background: #0ca4e4;}


.asg_tm_all_wrap[data-color="red"] .asg_tm_topbar .menu ul li.current a{color: #fe0000;}
.asg_tm_all_wrap[data-color="red"] .asg_tm_topbar .menu ul li a:hover{color: #fe0000;}
.asg_tm_all_wrap[data-color="red"] .asg_tm_title_holder span{color: #fe0000;}
.asg_tm_all_wrap[data-color="red"] .asg_tm_button a{background-color: #fe0000;border-color:#fe0000;}
.asg_tm_all_wrap[data-color="red"] .asg_tm_button button{background-color: #fe0000;border-color:#fe0000;}
.asg_tm_all_wrap[data-color="red"] .asg_tm_news .news_list ul li .details .title a:hover{color: #fe0000;}
.asg_tm_all_wrap[data-color="red"] .asg_tm_news .news_list ul li .details .date a:hover{color: #fe0000;}
.asg_tm_all_wrap[data-color="red"] .cursor-inner.cursor-hover{background-color: #fe0000;}
.asg_tm_all_wrap[data-color="red"] .cursor-outer{border-color: #fe0000;}
.asg_tm_all_wrap[data-color="red"] .cursor-inner{background-color: #fe0000;}
.asg_tm_all_wrap[data-color="red"] .progress_inner .background .bar_in{background: #fe0000;}

